
<!--include header-->
    <%- include('include/_header') %>
<!--/include header-->

    <!-- Main Site-->
    <main id="site-main">
        <div class="container">
            <div class="d-flex">
                <a href="/add-user" class="border-shadow mb-2">
                    <span class="text-gradient"><strong>New User </strong><i class="fa-regular fa-user"></i></span>
                </a>
            </div>
            <!-- form handling-->
            <form action="/" method="POST">
                <table class="table table-striped">
                    <thead class="thead-dark">
                        <tr>
                            <th>ID</th>
                            <th>Name</th>
                            <th>Email</th>
                            <th>Phone Number</th>
                            <th>City</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <%- include('include/_show') %>
                    </tbody>
                </table>
            </form>
            <form action="/logout" method="POST">
                <button type="submit" class="btn btn-primary btn-block">Log Out</button>
            </form>
            <!-- /form handling-->
        </div>
    </main>
    <!-- /Main Site-->
<!--include footer-->
    <%- include('include/_footer') %>
<!--/include footer-->